<ul id="message_history">
  <li class="cf"><%= CatFacts.intro %></li>
</ul>
<form id="user_input" action="/user_input" method="POST">
  <label for="message">Send a message back: </label>
  <input type="text" id="message" name="message">
  <input type="submit">
</form>


<script src="js/application.js"></script>
